// General ======================
$browser-context: 19; // Default
$black: #333;
$dark-grey: #555555;
$grey: #999999;
$light-grey: #ECECEC;
$color-background: #F5F5F5;
$color-active: #FFF;
$color-link: #FFF;

$button-height: 27px;
$button-width: 35px;

// px to rem function
@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

@mixin content-link {
  a {
    color: $black;
    border-bottom: 1px solid $black;

    &:hover {
      color: #fff;
      background-color: $black;
    }
  }
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', 'Microsoft YaHei', 'Hiragino Sans GB', sans-serif;
  font-size: 19px;
  color: $black;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.container {
  margin: 0 auto;
  max-width: 700px;
  height: 100%;
}

h1, h2, h3, h4 {
  font-weight: bold;
  padding: rem(25) 0 rem(10);
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: rem(32);
}
h3 {
  font-size: rem(25);
}
p {
  padding: rem(10) 0;
  line-height: 2rem;
}
a {
  text-decoration: none;
  color: $grey;
  transition: all .4s ease;
  &:hover {
    color: $black;
  }
}
li.current-menu-item {
  a {
    color: $black;
  }
}
strong {
  font-weight: bold;
}
.highlight {
  padding: rem(16);
  font-family: monospace;
  overflow: auto;
  font-size: rem(16);
}
figure {
  padding: rem(15) 0;
}
img {
  max-width: 100%;
  margin: 10px auto;
}
figcaption {
  color: $grey;
  font-style: italic;
  font-size: 0.9rem;
}

article {
  h1, h2, h3, h4 {
    text-transform: uppercase;
    letter-spacing: rem(4);
  }
  h1 {
    letter-spacing: rem(6);
  }
  ul, ol {
    margin: 10px auto 20px auto;
    list-style: initial;
    padding-left: 30px;
    line-height: 2;
  }
  @include content-link;
}

input, textarea {
  display: block;
  width: 100%;
  font-size: rem(14);
  border: solid 1px $grey;
  outline: none;
  transition: all .4s ease-in-out;
  background: transparent;
  -webkit-appearance: none;
  border-radius: 0;
}
input {
  height: 50px;
  padding: 0px 15px;
  border-bottom: none;
}
textarea {
  padding: 15px;
}

input[type=submit] {
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  border: solid 1px $grey;
  border-top: none;
  color: $grey;
  &:hover {
    color: $dark-grey;
  }
  &:focus {
    color: #e2dedb;
  }
}
input:focus, textarea:focus {
  background: $black;
  color: #fff;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: $grey;
  letter-spacing: 1px;
  font-size: rem(12);
  text-transform: uppercase;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: $grey;
  letter-spacing: 1px;
  font-size: rem(12);
  text-transform: uppercase;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: $grey;
  letter-spacing: 1px;
  font-size: rem(12);
  text-transform: uppercase;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

input::placeholder, textarea::placeholder {
  color: $grey;
  letter-spacing: 1px;
  font-size: rem(12);
  text-transform: uppercase;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

input:focus::-webkit-input-placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input:focus::-moz-placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input:focus:-ms-input-placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover:focus:-ms-input-placeholder, textarea:hover:focus:-ms-input-placeholder {
  color: #cbc6c1;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: $dark-grey;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: $dark-grey;
}

input:hover:-ms-input-placeholder, textarea:hover:-ms-input-placeholder {
  color: $dark-grey;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: $dark-grey;
}
article .btn {
  width: 200px;
}

.resume-btn.btn {
  width: 300px;
  margin-top: 40px;
}

.btns-container {
  .btn {
    margin: 15px 15px 15px 0;
  }
}

.btn {
  font-size: rem(14);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  display: inline-block;
  padding: 8px 20px;
  min-width: 120px;
  transition: all .3s ease;
}
  .btn.btn-default {
    color: $black;
    border: 1px solid $black;
    &:hover {
      background: $black;
      color: #fff;
    }
  }
  .btn.btn-inverse {
    color: #fff;
    border: 1px solid #fff;
    &:hover {
      color: #fff;
      background: $grey;
      border-color: $grey;
    }
  }

.back-to-top {
  display: none;
  position: fixed;
  right: 20px; bottom: 20px;
  width: 50px;
  height: 50px;
  &:hover {
    opacity: .7;
  }
  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 27px;
    padding: 0;
    background: $black;
  }
  .left {
    transform: translateY(20px) translateX(17px) rotate(45deg);
  }
  .right {
    transform: translateY(20px) translateX(0) rotate(-45deg);
  }
}
@media screen and (max-width: 468px) {
  .back-to-top {
    right: 8px; bottom: 10px;
  }
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}


// Header ====================
#header {
  position: fixed;
  right: 0;
  left: 0;
}
.headroom {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  transition: all .4s ease-in-out;
  ul {
    margin: 0;
  }
}
.nav {
  font-size: rem(15);
  text-align: center;
  padding: rem(20) 0 rem(20);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  border-bottom: 1px solid rgba(200,200,200,.3);
  li {
    display: inline-block;
    padding: 0 rem(20);
  }
}
.headroom--top {
  background: transparent;
}
.headroom--unpinned, .headroom--not-top {
  top: rem(-70);
}
.headroom--bottom {
  top: 0;
}
.headroom--not-top {
  background: $black;
  .nav {
    border: none;
  }

  a {
    &:hover {
      color: #fff;
    }
  }
  li.current-menu-item a {
    color: #fff;
  }
}

.logged-in {
  .headroom--top, .headroom--pinned, .headroom--bottom {
    top: 32px;
  }
}

@media screen and (max-width: 782px) {
  .logged-in {
    .headroom--top, .headroom--pinned, .headroom--bottom {
      top: 46px;
    }
  }
}
.button-container {
  position: absolute;
  display: none;
  top: 20px;
  right: 20px;
  float: right;
  height: $button-height;
  width: $button-width;
  cursor: pointer;
  transition: opacity .25s ease;

  &:hover {
    opacity: .7;
  }

  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: $color-active;
    }
    .middle {
      opacity: 0;
      background: $color-active;
    }

    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: $color-active;
    }
  }

  span {
    margin: 0;
    padding: 0;
    background: $black;
    border: none;
    height: 5px;
    width: $button_width;
    position: absolute;
    top: 0;
    right: 0;
    transition:  all .35s ease;
    cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}

@media screen and (max-width: 550px) {
  .button-container {
    display: block;
  }
  .desktop-nav {
    display: none;
  }
}

.overlay {
  position: fixed;
  background: $black;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;

  &.open {
    opacity: 1;
    visibility: visible;
    height: 100%;

    li {
      animation: fadeInRight .4s ease-in-out forwards;
      animation-delay: .35s;

      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    .nav {
      font-size: 30px;
      letter-spacing: 15px;
    }
  }
  ul {
    border: none;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;

    li {
      display: block;
      height: 25%;
      height: calc(100% / 4);
      min-height: 50px;
      position: relative;
      opacity: 0;
      margin-right: -15px;

      a {
        display: block;
        position: relative;
        color: #fff;
        overflow: hidden;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: #fff;
          transition: .35s;
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}


// Page ======================
.mypage {
  padding-bottom: rem(80);
  padding-top: 4.5rem;
}
.page-title {
  @include word-wrap;
  letter-spacing: rem(6);
  text-transform: uppercase;
  text-align: center;
  padding-bottom: rem(30);
}
.post-url {
  @include content-link;
  font-size: 1.1rem;
  margin: 10px auto;
  display: inline;
  padding: 0;
}
small {
  color: $grey;
  font-size: 0.6rem;
  font-weight: normal;
}
.post-list {
  li:before {
    content: "\00BB\0020";
    color: $grey;
  }
  &:last-of-type {
    margin-bottom: 80px;
  }
}

// Home ======================

.blurb {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
}
.site-title {
  font-size: 3rem;
  letter-spacing: rem(14);
  margin-bottom: rem(20);
  margin-top: 0;
  padding: 0;
  font-weight: bold;
}
span.line {
  display: inline-block;
}
.site-description {
  letter-spacing: rem(6);
}

// About ======================
.profile_pic {
  float: right;
  width: 150px;
  height: 150px;
  margin: 20px 30px 30px 40px;
}


// Contact ====================
#contact {
  text-align: center;
  .email {
    font-size: rem(30);
  }
}
ul.links-social {
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    padding-right: 15px;
    &:last-child {
      padding-right: 0;
    }
  }
}

form {
  max-width: 500px;
  margin: rem(50) auto 0;
}
@media screen and (max-width: 468px) {
  form {
    max-width: 100%;
  }
}

// Blog =======================
.post {
  margin-bottom: 80px;
}
.post-title {
  margin-bottom: 10px;
  font-size: rem(42);
  @include content-link;
}
.meta {
  margin-bottom: 30px;
}
.meta-cat {
  margin-left: 10px;
}
.read-more {
  text-align: right;
  margin-top: 20px;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Blog Pagination
.pagination {
  text-align: center;
  margin-bottom: 80px;
}
.older, .newer{
  font-size: rem(20);
}
.older {
  margin-left: 20px;
}

// Post
#disqus_thread {
    margin-top: 80px;
}
.tags {
  margin-top: 20px;
}
.tag {
  font-weight: normal;
  background-color: #eee;
  margin-right: 10px;
  padding: 0 2px;
  white-space: nowrap;
  &:hover {
    color: #fff;
    background-color: $grey;
  }
}
// Post pagination
.next, .prev {
  width: 45%;
}
.next {
  float: left;
}
.prev {
  float: right;
  text-align: right;
}
.posts-nav {
  margin-top: 80px;
  margin-bottom: 80px;
  // Fix collapsing
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


// 404 =========================
#error-page {

  height: 100%;
  display: table;
  h1 {
    display: table-cell;
    vertical-align: middle;
  }
}


// Responsive ==================
@media (max-width: 768px) {
  .container {
    width: 85%;
  }
}

@media (max-width: 468px) {
  html, body {
    font-size: 16px;
  }

  .page-title {
    font-size: 2rem;
  }

  .btn {
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }

  // about
  .profile_pic {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}