// Projects ===================
#projects {
  font-size: rem(16);
  p {
    line-height: 1.8;
  }
  ul {
    list-style: none;
  }
}

.header-tags {
  font-size: rem(16);
  text-align: center;
  padding: 0 20px 10px;
}

.project-tag {
  line-height: 1;
  padding: 5px;
  cursor: pointer;
  display: inline-block;
  transition: all .3s ease;
}

.project-tag-default {
  border-bottom: 1px solid $black;
  &:hover, &.active {
    color: #fff;
    background-color: $black;
  }
}
.project-tag-inverse {
  border-bottom: 1px solid #fff;
  &:hover {
    background: #fff;
    color: $black;
  }
}

.tag-list {
  display: inline-block;
  font-size: rem(14);
  margin-top: rem(15);
}

.thumb-container {
  margin: 0 auto;
  max-width: 1000px;
}

.grid {
  margin: 0 auto;
}

.grid-item {
  width: 100px;
  float: left;
  padding: 20px;
  &:not(.active) {
    .project-container:hover {
      cursor: pointer;
    }
  }
  &.active {
    width: 100% !important;

    .project-container {
      padding: 20px;
      background: $black;
    }
    .project-thumb {
      max-width: 300px;
    }
  }
}

.width2 {
  width: 200px;
}

.width3 {
  width: 300px;
}

.width4 {
  width: 400px;
}

.width5 {
  width: 500px;
}


.project-title {
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 0;
  font-size: rem(24);
  font-weight: bold;
  text-align: left;
}

.project-container {
  color: #fff;
  text-align: left;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;

  li {
    display: inline-block;
  }
  a {
    color: #fff;
    border-bottom: 1px solid #fff;
    &:hover {
      color: $black;
      border-color: $grey;
      background: #fff;
    }
  }
}

.project-hidable {
  display: none;
}

.project-thumb {
  margin: 0;
  max-width: 100%;
  height: auto;
}
.project-text {
  align-self: stretch;
  padding: 20px;
  max-width: 600px;
}

@media screen and (max-width: 588px) {
  .thumb-container {
    width: 100%;
  }
  .grid {
    width: 100% !important;
  }
  .grid-item {
    max-width: 100%;
  }
  #projects {
    img {
      float: left;
      // display: block;
      // margin: 0 auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .grid-item {
    &.active {
      .project-thumb {
        display: none;
      }
    }
  }
  .project-text {
    max-width: 768px;
    width: 100%;
  }
}